<h1 id="top">component communication cookbook</h1>
<a href="#parent-to-child">1. 透過輸入 binding 把資料從父元件傳到子元件</a>
<br>
<a href="#set-parent-to-child">2 透過 setter 截聽輸入屬性值的變化</a>
<br>
<a href="#parent-to-child-on-changes">3.透過 ngOnChanges()來截聽輸入屬性值的變化: 當需要監視多個、互動式輸入屬性的時候，本方法比用屬性的 setter 更合適。</a>
<br>
<a href="#child-to-parent">4.父元件監聽子元件的事件</a>
<br>
<a href="#parent-to-child-local-var">5.父元件與子元件透過本地變數互動</a>
<br>
<a href="#parent-to-view-child">6.父元件呼叫 @ViewChild() </a>
<br>
<a href="#bidirectional-service">7.父元件和子元件透過服務來通訊</a>
<br>

<hr>
<div id="parent-to-child">
  <app-parent-to-child-parent>
    </app-parent-to-child-parent>
</div>
<a href="#top" class="to-top">back to top</a>


<hr>
<div id="set-parent-to-child">
  <app-setter-parent></app-setter-parent>
</div>
<a href="#top" class="to-top">back to top</a>

<hr>
<div id="parent-to-child-on-changes">
  <app-onchange-parent></app-onchange-parent>
</div>
<a href="#top" class="to-top">Back to Top</a>

<hr>
<div id="child-to-parent">
  <app-child-to-parent-parent></app-child-to-parent-parent>
</div>
<a href="#top" class="to-top">Back to Top</a>
<hr>

<div id="parent-to-child-local-var">
  <app-parent-to-child-local-parent></app-parent-to-child-local-parent>
</div>
<a href="#top" class="to-top">Back to Top</a>
<hr>

<div id="parent-to-view-child">
  <app-viewchild-parent></app-viewchild-parent>
</div>
<a href="#top" class="to-top">Back to Top</a>
<hr>

<div id="bidirectional-service">
  <app-service-parent></app-service-parent>
</div>
<a href="#top" class="to-top">Back to Top</a>
<hr>




